/* variables */


:root {
    --basic-black: #000000;
    --basic-grey: #666666;
    --basic-white: #ffffff;
    --basic-dark: #283136;
    --dark-grey: #444444;
    --neutral-grey: #d5d5d5;
    --light-grey: #eeeeee;
    --lighter-grey: #dfdfdf;
    --special: #FB565A;
    --special-g: #00CA74;
    --special-y:  #EFC84A;
    --button-hover-r: #E74246;
    --button-active-r: #D7373B;
    --button-hover-g: #00BC6C;
    --button-active-g: #00AA62;
    --button-hover-y: #EAB534;
    --button-active-y: #E5A722;
    --social: #e1e1e1;
}

/* Global */

body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* main-navigation */

.main-navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
}

.site-navigation {
    list-style: none;
}

/* user navigation */

.site-navigation a {
    color: var(--basic-black);
}

.login-link {
    color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.login-link:hover,
.login-link:focus {
    color: var(--button-hover-r);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.login-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

/* Features */

.features-list {
    list-style: none;
}
.features-item {
    text-align: left;
}


.button-features {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500; 
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--special);
    border-radius: 3px;
}

.button-features:hover,
.button-features:focus {
    background-color: var(--button-hover-r);
}

.button-features:active {
    background-color: var(--button-active-r);
}

.features-title {
    font: 500;
    font-size: 55px;
    line-height: 55px;
}

/* Button */

.service-site,
.services-app,
.services-pres {
    font-size: 16px;
    line-height: 18px;
    font: normal;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    border-radius: 3px;
}

.service-site {
    background-color: var(--special);
}

.service-site:hover,
.service-site:focus {
    background-color: var(--button-hover-r);
}

.service-site:active {
    background-color: var(--button-active-r);
}

.services-app {
    background-color: var(--special-g);
}

.services-app:hover,
.services-app:focus {
    background-color: var(--button-hover-g);
}

.services-app:active {
    background-color: var(--button-active-g);
    }

.services-pres {
    background-color: var(--special-y);
}

.services-pres:hover,
.services-pres:focus {
    background-color: var(--button-hover-y);
}

.services-pres:active {
    background-color: var(--button-active-y);
    }

/* Services */

.services-list {
    list-style: none;
}

.services-item {
    text-align: left;
}

.services-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

/* Info */

.info-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.info-head {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.info-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.info-advantages {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
}

.info-advantages-list {
    list-style: none;
}

.info-advantages-item p { 
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

/* Links */

.links-list {
    list-style: none;
}

.links-item {
    opacity: 0.2;
}

.links-item a:active {
    opacity: 0.1;
}

/* Inner--page */
.inner-page {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

/* Sort */

.sort-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.sort-list {
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort a {
    color: var(--basic-black);
    opacity: 0.3;
}

.sort a:hover,
.sort a:focus {
    text-decoration: underline;
    opacity: 0.6;
}

.sort a:active {
    opacity: 1;
}


/* Product */

.products a {
    color: var(--basic-black);
}

.products-list {
    list-style: none;
}

.product-item {    
    border-radius: 0 0 5px 5px;
}

.product-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.product-item-title {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.product-item-price {
    color: var(--basic-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: var(--special);
}

.product-item-price:hover,
.product-item-price:focus {
    background-color: var(--button-hover-r);
}

.product-item-price:active {
    background-color: var(--button-active-r);
}

/* Pagination */

.pagination-list {
    list-style: none;
}

.pagination-item a {
    color: var(--basic-black);
    background-color: var(--light-grey);
    border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: var(--lighter-grey);
}

.pagination-item a:active {
  background-color: var(--neutral-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
}




/* Contacts */

.footer-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.button-contacts {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    border-radius: 3px;
    background-color: var(--special);
}

.footer-contacts-info {
    color: var(--basic-grey);
}
.footer-phone {
    color: var(--basic-grey);
}

/* Social */

.social-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.social-text {
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-grey);
}

.social-button {
    color: var(--basic-white);
    background-color: var(--social);
    border-radius: 3px;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--button-hover-r);
}

.social-button:active {
    background-color: var(--button-active-r);
}